<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">


      <div class="col-xl-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Ajouter un produit</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form [formGroup]="addProductForm">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nom du produit</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nom du produit" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" rows="5" placeholder="Description"
                              formControlName="description"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Prix</label>
                  <div class="col-sm-9">
                    <input type="number" min="0" class="form-control" placeholder="Prix" formControlName="price">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Quantité</label>
                  <div class="col-sm-9">
                    <input type="number" min="0" class="form-control" placeholder="Quantité" formControlName="quantity"><br>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group w-50 mx-auto" style="text-align: center !important;">
                    <label style="cursor:pointer;text-align: center !important;" for="exampleInputAvatar"><i
                      class="fas fa-images"></i> Image du produit<input type="file" style="display: none;"
                                                                        (change)="onFileSelected($event)"
                                                                        class="form-control"
                                                                        id="exampleInputAvatar"></label>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <img [src]="imagePreview" width="270px" height="270px" *ngIf="imagePreview">
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 d-flex justify-content-center">
                    <button type="submit" class="mr-1 ml-1 mt-3" mat-flat-button color="primary"
                            [disabled]="addProductForm.invalid||selectedFile==null" (click)="addProduct()">Confirmer
                    </button>
                    <button type="submit" class="mr-1 ml-1 mt-3" mat-flat-button color="primary" (click)="return()">
                      Retour
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
