<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Gestion des produits</h4>

        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Gestion des produits</a></li>
          <br>

        </ol>
      </div>


    </div>
    <div class="col-lg-12" style="padding-bottom: 0.8cm;">
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="ajouterProduit(5)">Ajouter un produit</button>
      <div class="btn-group" role="group" ngbDropdown>
        <button type="button" class="btn btn-sm btn-outline-primary mr-2" ngbDropdownToggle>Ajouter un produit (Menu)
        </button>
        <div class="dropdown-menu" style="background-color: white;" ngbDropdownMenu>
          <a class="dropdown-item" (click)="ajouterProduit(1)">Ajouter une salade</a>
          <a class="dropdown-item" (click)="ajouterProduit(2)">Ajouter un plat principal</a>
          <a class="dropdown-item" (click)="ajouterProduit(3)">Ajouter une garniture</a>
          <a class="dropdown-item" (click)="ajouterProduit(4)">Ajouter un dessert</a>
        </div>
      </div>
    </div>


    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="Les produits" cardClass="default-accordion">
        <ng-template ngbPanelContent>
          <div class="row" style="padding: 0.5cm;">
            <app-edit-product-card *ngFor="let product of products " [product]="product" style="justify-content: row; "
                                   [hidden]="product.category.id!=5">
            </app-edit-product-card>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="Les produits (Menu)" cardClass="default-accordion">
        <ng-template ngbPanelContent>
          <div class="row" style="padding: 0.5cm;">
            <app-edit-product-card *ngFor="let product of products " [product]="product" style="justify-content: row;"
                                   [hidden]="product.category.id==5">
            </app-edit-product-card>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <hr/>


    <div class="col-lg-12" style="padding-bottom: 5cm;">
      <button class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="ajouterProduit(5)">Ajouter un produit</button>
      <div class="btn-group" role="group" ngbDropdown>
        <button type="button" class="btn btn-sm btn-outline-primary mr-2 mb-2" ngbDropdownToggle>Ajouter un produit
          (Menu)
        </button>
        <div class="dropdown-menu" style="background-color: white;" ngbDropdownMenu>
          <a class="dropdown-item" (click)="ajouterProduit(1)">Ajouter une salade</a>
          <a class="dropdown-item" (click)="ajouterProduit(2)">Ajouter un plat principal</a>
          <a class="dropdown-item" (click)="ajouterProduit(3)">Ajouter une garniture</a>
          <a class="dropdown-item" (click)="ajouterProduit(4)">Ajouter un dessert</a>
        </div>
      </div>
      <button class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="acc.toggle('toggle-1')">Basculer les produits
      </button>
      <button class="btn btn-sm btn-outline-primary mr-2 mb-2" (click)="acc.toggle('toggle-2')">Basculer les produits
        (Menu)
      </button>

    </div>


  </div>
</div>


