<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" style="max-width: 27rem!important;">
  <div class="card">
    <div class="card-body" style="padding: inherit!important;">
      <img src="http://localhost:8090/api/products/images/Tic/Tic" height="30cm" alt="" *ngIf="quantity>0"
           style="position: absolute; z-index: 1;">
      <div class="new-arrival-product">
        <div class="new-arrivals-img-contnent">
          <img class="img-thumbnail myimg" src="{{product.image}}" alt="" (click)="editProduct(product.id)">
        </div>
        <div class="new-arrival-content text-center mt-3 d-flex justify-content-around"><br>
          <div>
            <h3 (click)="editProduct(product.id)"><a routerLink="/"></a>{{product.name}}</h3>
            <span class="price" style="font-size: 20px">{{product.price}} DT</span>
          </div>
          <div style="align-items: center; display: flex">
            <button mat-flat-button color="primary"
                    style="margin-top: 10px; ;font-size: 0.5cm;" (click)="editProduct(product.id)">Modifier
            </button>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" >
  <ng-container style="padding: 0.2cm; "
          >
    <div class="card" style="margin: 0.5cm;"  >
    <div class="card-body" >

      <img  src="http://localhost:8090/api/products/images/Tic/Tic" height="35cm" alt="" *ngIf="quantity>0" style="position: absolute; z-index: 1;" >
      <div class="new-arrival-product">
        <div class="new-arrivals-img-contnent" >

          <img class="img-fluid" src="{{product.image}}" alt="">
        </div>
        <div class="new-arrival-content text-center mt-3">
          <h4><a (click)="showDetails(product.id)" style="font-size: 30PX;">{{product.name}}</a></h4>
          <ul class="star-rating">
            <li *ngFor="let ratings of product.ratings_class "><i
                class="{{ratings.icon_class}}"></i></li>
          </ul>
          <span class="price"> {{product.price}} DT</span>
          <br>
          <button class="btn btn-primary mb-2"
            style="margin-top: 10px; padding: 3.2% ; border-radius: 20%;font-weight:bold;" (click)="removeQuantity()">-</button>
                              <span style="padding: 0.2cm;">{{quantity}}</span>
                              <button class="btn btn-primary mb-2"
            style="margin-top: 10px; padding: 3% ; border-radius: 20%;font-weight:bold ;"(click)="addQuantity()"> + </button>
        </div>
      </div>
    </div>
  </div>
      </ng-container>
      </div> -->







