<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <!-- Add Order -->
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Les détails du produit</h4>

        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Détail du produit</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade show active" id="first">
                    <img class="img-thumbnail myimg" [src]="product.image" alt="">
                  </div>
                </div>

              </div>
              <!--Tab slider End-->
              <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                <div class="product-detail-content">
                  <!--Product details-->
                  <div class="new-arrival-content pr">
                    <h4 style="font-size: 1cm;">{{product.name}}</h4>
                    <div class="comment-review star-rating">
                      <ul style="font-size: 3rem">
                        <span *ngIf="(rating==-1)" >Pas de note disponible</span>
                        <li><i class="fa fa-star" *ngIf="rating>=1"></i></li>
                        <li><i class="fa fa-star-half-empty" *ngIf="(rating>0.5 && rating<1) "></i></li>
                        <li><i class="fa fa-star" *ngIf="rating>=2"></i></li>
                        <li><i class="fa fa-star-half-empty" *ngIf="(rating>1.5 && rating<2)"></i></li>
                        <li><i class="fa fa-star" *ngIf="rating>=3"></i></li>
                        <li><i class="fa fa-star-half-empty" *ngIf="(rating>2.5 && rating<3)"></i></li>
                        <li><i class="fa fa-star" *ngIf="rating>=4"></i></li>
                        <li><i class="fa fa-star-half-empty" *ngIf="(rating>3.5 && rating<4)"></i></li>
                        <li><i class="fa fa-star" *ngIf="rating>=5"></i></li>
                        <li><i class="fa fa-star-half-empty" *ngIf="(rating>4.5 && rating<5)"></i></li>
                      </ul>
                      <span class="review-text"> </span><a class="product-review" href="javascript:void(0);"
                                                           routerLink="/addIntercation">Nous contacter?</a>
                    </div>
                    <div class="d-table mb-2">
                      <p class="price float-left d-block">{{product.price}}DT</p>
                    </div>
                    <p>Disponibilité: <span class="item"> En Stock <i
                      class="fa fa-shopping-basket"></i></span>
                    </p>


                    <p class="text-content">{{product.description}}</p>
                    <!-- <button mat-flat-button color="primary"
                            style="margin: 10px;" [disabled]="!isUserLoggedIn" (click)="open(reviewModal)">Noter le produit
                    </button> -->
                    <button mat-flat-button color="primary"
                            style="margin: 10px;" routerLink="../">Retourner à la réservation
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- review -->
      <ng-template #reviewModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Donner une note</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="rateProductForm">

            <div class="form-group">
              <div class="rating mb-4 text-center">

                <!-- Rating Stars Box -->

                <ngb-rating [max]="5" style="height: 1cm ;font-size: 2cm;margin-bottom: 2cm;"
                            formControlName="value"></ngb-rating>
                <br>
                <button  mat-flat-button color="primary" (click)="rateProduct()" (click)="modal.dismiss('Cross click')"
                        routerLink="/products/{{product.id}}">Noter!
                </button>
              </div>
            </div>


          </form>

        </div>

      </ng-template>
    </div>
  </div>
</div>
<!--**********************************
	Content body end
***********************************-->


