<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles">

      <div class="welcome-text">
        <h4>Ajout des intéractions</h4>
        
        <small class="mb-0">Nous aimerions recevoir vos commentaires pour améliorer notre service</small>
      </div>

      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Ajout des intéractions</a></li>
        </ol>
      </div>

    </div>
    <br>
    <br>

    <!-- row -->
    <div class="row">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">

            <div class="compose-content">

              <form [formGroup]="newInteractionForm" class="form">

                <mat-form-field appearance="fill" class="type">
                  <mat-label>Choisir le type d'intéraction</mat-label>
                  <mat-select formControlName="type" (ngModelChange)="onIntercationChange($event)">

                    <mat-option value="Reclamation">Réclamation</mat-option>
                    <mat-option value="Suggestion">Proposition</mat-option>
                    <mat-option value="Note">Note</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="form-group" style="width:inherit!important; ">
                  <textarea id="email-compose-editor" style="width:inherit!important; "
                            class="textarea_editor form-control bg-transparent" cols="70" rows="3" maxlength="50"
                            placeholder="Entrer votre {{type}} ..." formControlName="description"
                            *ngIf="(Suggestion==true)||(Reclamation==true) "></textarea>
                </div>


                <div class="card" *ngIf="(Note==true)||(Reclamation==true)" style="width:inherit!important;  ">
                  <div class="card-header d-block" >
                    <h4 >Merci d'évaluer la qualité de notre service</h4>
                    <ngb-rating [(rate)]="currentRate" style="height: 3.5cm; font-size: 1cm;" [max]="5"></ngb-rating>
                  </div>

                </div>


                <div class="text-left mt-4 mb-2 buttons">
                  <button class="btn btn-primary btn-sl-sm mr-2" type="button" (click)="addInteraction()" id="b"
                          [disabled]="newInteractionForm.invalid && Note==false ||newInteractionForm.value.type=='default' ">
                    <span class="mr-2"><i class="fa fa-paper-plane"></i></span>Envoyer
                  </button>
                  <button class="btn btn-danger light btn-sl-sm" type="button" (click)=" returnToMenue()"><span
                    class="mr-2"><i class="fa fa-times" aria-hidden="true"></i></span>Annuler
                  </button>
                </div>
              </form>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
